// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$gray: #989898;
#wrapper-navbar {
  #main-nav {
    background-color: $gray;
  }
}

body {
  background-color: red;
}
